*{
    background-color:white;
    margin: 0; padding: 0; box-sizing: border-box;
    color: black;
}
header{
    display: flex;
    justify-content:center;
    gap:30px;
    list-style-type:none;
    padding: 20px;
}
a{
    text-decoration: none;   
}
h1{
    display: flex;
    justify-content:center;
}
.iphone{
    display: flex;
    justify-content:center;
}
.big{
    display: flex;
    justify-content:center;
}
