*{
    background-color:black;
    margin: 0; padding: 0; box-sizing: border-box;
    color: white;
}
header{
    display: flex;
    justify-content:center;
    gap:30px;
    list-style-type:none;
    padding: 20px;
}
h1{
    display: flex;
    justify-content: center;
}
h3{
    width: 500px;  
}
.ios{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}